body {
	font-size: 0.9em;
	font-family: Verdana;
	margin: 0;
	padding: 0;
	background-attachment: fixed;
	background-color: #d5deef;
}
a {
	outline: none;
}
a:link,
a:visited {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
input,
select,
textarea {
	background-color: #333;
	color: #fff;
	border: 1px solid #000;
	font-family: Verdana;
	font-size: 0.9em;
}
textarea {
	background-color: #000;
}
textarea:focus {
	background-color: #333;
}
input:hover,
select:hover,
textarea:hover {
	border: 1px solid #ff0;
}
table {
	border-collapse: collapse;
}
#site_table,
#footer {
	width: 97%;
}
#logo {
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
#newls,
#newchat {
	background-color: #fff;
	font-weight: 700;
	color: #000;
}
#menu_div {
	margin: 5px 0;
	padding: 0;
	text-align: center;
}
#footer {
	margin: 12px auto 8px;
	text-align: center;
}
#site_table {
	margin: auto;
}
#emblem,
[class^="kn"] {
	display: inline-block;
}
#report_warning,
#report_warning a {
	background: #fc9;
	color: #006;
	font-size: 18px;
}
#leftBranch,
#rightBranch {
	padding: 0;
	margin: 0;
}
table {
	border-color: #333;
}
body {
	background-image: url(background.png?107017945);
	color: #1b1314;
}
a:link,
a:visited {
	color: #320d04;
}
a:hover {
	color: #cedefd;
}
#site_table,
#footer {
	background-color: RGBA(125, 148, 187, 0.85);
	border-radius: 15px;
}
#logo {
	height: 334px;
	background-image: url(header.png?107017945);
}
#branch {
	background: url(side.png?107017945) repeat-y left top, url(side.png?107017945) repeat-y right top;
	padding: 1px 100px;
}
#menu_div {
	margin-top: -82px;
}
#emblem {
	background: url(emblem.png?107017945);
	width: 150px;
	height: 150px;
}
#emblem:hover {
	background: url(emblem_hover.png?107017945);
}
[class^="kn"] {
	background: url(menu.png?107017945) no-repeat top left;
	height: 60px;
}
[class^="kn"]:hover {
	background-image: url(menu_hover.png?107017945);
}
.page_scroll {
	width: 90px !important;
	height: 90px !important;
}
#page_down {
	background: url(page_down.png?107017945) !important;
}
#page_up {
	background: url(page_up.png?107017945) !important;
}
.kn1 {
	background-position: 0 0;
	width: 120px;
}
.kn2 {
	background-position: -120px 0;
	width: 120px;
}
.kn3 {
	background-position: -240px 0;
	width: 110px;
}
.kn4 {
	background-position: -350px 0;
	width: 120px;
}
.kn5 {
	background-position: -470px 0;
	width: 110px;
}
.kn6 {
	background-position: -580px 0;
	width: 150px;
}
.kn7 {
	background-position: -730px 0;
	width: 140px;
}
.kn8 {
	background-position: -870px 0;
	width: 110px;
}
.kn9 {
	background-position: -980px 0;
	width: 130px;
}
.kn10 {
	background-position: -1110px 0;
	width: 97px;
}
.kn11 {
	background-position: -1207px 0;
	width: 140px;
}
.kn12 {
	background-position: -1347px 0;
	width: 110px;
}
.kn13 {
	background-position: -1457px 0;
	width: 160px;
}
.kn1:hover {
	background-position: 0 0;
	width: 120px;
}
.kn2:hover {
	background-position: -120px 0;
	width: 120px;
}
.kn3:hover {
	background-position: -240px 0;
	width: 110px;
}
.kn4:hover {
	background-position: -350px 0;
	width: 120px;
}
.kn5:hover {
	background-position: -470px 0;
	width: 110px;
}
.kn6:hover {
	background-position: -580px 0;
	width: 150px;
}
.kn7:hover {
	background-position: -730px 0;
	width: 140px;
}
.kn8:hover {
	background-position: -870px 0;
	width: 110px;
}
.kn9:hover {
	background-position: -980px 0;
	width: 130px;
}
.kn10:hover {
	background-position: -1110px 0;
	width: 97px;
}
.kn11:hover {
	background-position: -1207px 0;
	width: 140px;
}
.kn12:hover {
	background-position: -1347px 0;
	width: 110px;
}
.kn13:hover {
	background-position: -1457px 0;
	width: 160px;
}

/* ls */

#error {
	cursor: pointer;
	display: none;
	width: 170px;
	min-height: 50px;
	border-radius: 10px;
	padding: 5px;
	font-weight: 700;
	background-color: RGBA(241, 90, 90, 0.9);
	position: fixed;
	top: 50%;
	left: 0.5%;
	z-index: 9999;
}

.active {
	font-weight: 700;
}

th {
	text-align: left;
}

#messList {
	margin: auto;
	color: #000;
	width: 100%;
	max-width: 1024px;
	border-radius: 10px 10px 0px 0px;
	overflow: hidden;
	box-shadow: rgb(220 225 230) 0px 0px 0px 1px;
}
#messList td {
	vertical-align: middle;
}

.del {
	margin-left: auto;
	margin-right: auto;
	background: firebrick;
	display: block;
}
#msg_subject {
	font-weight: bold;
}
.parsed img {
	width: 100%;
}

.msg_icon {
	width: 30px;
}
.msg_icon > span {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.msg_icon.msg_read > span {
	background-color: #ff0000;
}
.msg_icon.msg_notRead > span {
	background-color: #00ff29;
}
.msg_icon.msg_booked > span {
	background-color: #99a;
}

#msg_table {
	width: 90%;
	max-width: 500px;
}

#msg_info {
	max-width: 200px;
    min-height: 150px;
	min-width: 100px;
	background-color: rgba(255, 255, 255, 0.2);
}

#write_div {
	width: 80%;
	margin: auto;
}

#write_div p {
	margin: 0;
	margin-bottom: 5px;
}

#write_div input[type="text"],
#write_div textarea {
	width: 100%;
}

#write_div textarea {
	height: 300px;
}

#preview_div {
	padding-bottom: 5px;
}

#msg_table tr,
#messList tr {
	height: 30px;
}

#msg_table tr:nth-child(2n),
#messList tr:nth-child(2n + 1) {
	background-color: rgba(255, 255, 255, 0.1);
}
#msg_table > tr:nth-child(2n + 1),
#messList > tr:nth-child(2n + 1) {
	background-color: rgba(255, 255, 255, 0.2);
}

#links {
	text-align: center;
}

#page_form {
	width: 100%;
	max-width: 1024px;
	margin: auto;
}

#msg_table {
	box-shadow: rgb(220 225 230) 0px 0px 0px 1px;
	border: none;
	max-width: 1024px;
	width: 100%;
	margin: auto;
	border-radius: 10px 10px 0px 0px;
	overflow: hidden;
}
#msg_table td {
	border: none;
	padding: 8px;
}

#msg_table tr:nth-child(2n + 1) {
	background-color: rgba(255, 255, 255, 0.2);
}
#complain {
	text-align: right;
}

a.icon_open {
	border: 1px solid gray;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
	margin: 1px;
	text-decoration: none;
	height: 18px;
	width: 18px;
	text-align: center;
	display: inline-block;
}

#answer,
#report_support {
	border: 1px solid gray;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 5px;
	padding: 2px 12px;
	text-decoration: none;
	text-align: center;
}