body {
	font-size: 0.9em;
	font-family: Verdana;
	margin: 0;
	padding: 0;
	background-attachment: fixed;
	background-color: #d5deef;
}
a {
	outline: none;
}
a:link,
a:visited {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
input,
select,
textarea {
	background-color: #333;
	color: #fff;
	border: 1px solid #000;
	font-family: Verdana;
	font-size: 0.9em;
}
textarea {
	background-color: #000;
}
textarea:focus {
	background-color: #333;
}
input:hover,
select:hover,
textarea:hover {
	border: 1px solid #ff0;
}
table {
	border-collapse: collapse;
}
#site_table,
#footer {
	width: 97%;
}
#logo {
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
#newls,
#newchat {
	background-color: #fff;
	font-weight: 700;
	color: #000;
}
#menu_div {
	margin: 5px 0;
	padding: 0;
	text-align: center;
}
#footer {
	margin: 12px auto 8px;
	text-align: center;
}
#site_table {
	margin: auto;
}
#emblem,
[class^="kn"] {
	display: inline-block;
}
#report_warning,
#report_warning a {
	background: #fc9;
	color: #006;
	font-size: 18px;
}
#leftBranch,
#rightBranch {
	padding: 0;
	margin: 0;
}
table {
	border-color: #333;
}
body {
	background-image: url(background.png?107017945);
	color: #1b1314;
}
a:link,
a:visited {
	color: #320d04;
}
a:hover {
	color: #cedefd;
}
#site_table,
#footer {
	background-color: RGBA(125, 148, 187, 0.85);
	border-radius: 15px;
}
#logo {
	height: 334px;
	background-image: url(header.png?107017945);
}
#branch {
	background: url(side.png?107017945) repeat-y left top, url(side.png?107017945) repeat-y right top;
	padding: 1px 100px;
}
#menu_div {
	margin-top: -82px;
}
#emblem {
	background: url(emblem.png?107017945);
	width: 150px;
	height: 150px;
}
#emblem:hover {
	background: url(emblem_hover.png?107017945);
}
[class^="kn"] {
	background: url(menu.png?107017945) no-repeat top left;
	height: 60px;
}
[class^="kn"]:hover {
	background-image: url(menu_hover.png?107017945);
}
.page_scroll {
	width: 90px !important;
	height: 90px !important;
}
#page_down {
	background: url(page_down.png?107017945) !important;
}
#page_up {
	background: url(page_up.png?107017945) !important;
}
.kn1 {
	background-position: 0 0;
	width: 120px;
}
.kn2 {
	background-position: -120px 0;
	width: 120px;
}
.kn3 {
	background-position: -240px 0;
	width: 110px;
}
.kn4 {
	background-position: -350px 0;
	width: 120px;
}
.kn5 {
	background-position: -470px 0;
	width: 110px;
}
.kn6 {
	background-position: -580px 0;
	width: 150px;
}
.kn7 {
	background-position: -730px 0;
	width: 140px;
}
.kn8 {
	background-position: -870px 0;
	width: 110px;
}
.kn9 {
	background-position: -980px 0;
	width: 130px;
}
.kn10 {
	background-position: -1110px 0;
	width: 97px;
}
.kn11 {
	background-position: -1207px 0;
	width: 140px;
}
.kn12 {
	background-position: -1347px 0;
	width: 110px;
}
.kn13 {
	background-position: -1457px 0;
	width: 160px;
}
.kn1:hover {
	background-position: 0 0;
	width: 120px;
}
.kn2:hover {
	background-position: -120px 0;
	width: 120px;
}
.kn3:hover {
	background-position: -240px 0;
	width: 110px;
}
.kn4:hover {
	background-position: -350px 0;
	width: 120px;
}
.kn5:hover {
	background-position: -470px 0;
	width: 110px;
}
.kn6:hover {
	background-position: -580px 0;
	width: 150px;
}
.kn7:hover {
	background-position: -730px 0;
	width: 140px;
}
.kn8:hover {
	background-position: -870px 0;
	width: 110px;
}
.kn9:hover {
	background-position: -980px 0;
	width: 130px;
}
.kn10:hover {
	background-position: -1110px 0;
	width: 97px;
}
.kn11:hover {
	background-position: -1207px 0;
	width: 140px;
}
.kn12:hover {
	background-position: -1347px 0;
	width: 110px;
}
.kn13:hover {
	background-position: -1457px 0;
	width: 160px;
}

#error {
	cursor: pointer;
	display: none;
	width: 170px;
	min-height: 50px;
	border-radius: 10px;
	padding: 5px;
	font-weight: 700;
	background-color: RGBA(241, 90, 90, 0.9);
	position: fixed;
	top: 50%;
	left: 0.5%;
	z-index: 9999;
}
.active {
	font-weight: 700;
}
th {
	text-align: left;
}
tr {
	border-bottom: 1px solid white;
	height: 26px;
	background: RGBA(255, 255, 255, 0.3);
}
/* tbody tr:nth-child(even) {
    background: RGBA(255,255,255,.7);
} */

#messList {
	/* background: #fff; */
	color: #000;
	width: 90%;
}
/* .msg_notRead {
	background: #eb8d8d;
} */
/* .msg_notRead::before{
	content: "Не прочитано";
	color:red;
}
.msg_read::before{

	content: "прочитано";
	color:red;
} */
th,
td {
	padding-left: 20px;
	/* border-left: 1px solid white; */
}
th:not(:first-child) {
	border-left: 1px solid white;
	text-align: center;
}
td:not(:first-child) {
	border-left: 1px solid white;
	text-align: center;
}
th:last-child {
	text-align: right;
}
td:last-child {
	text-align: right;
}

.msg_read td:first-child {
	background: linear-gradient(to right, mediumseagreen, RGBA(255, 255, 255, 0));
}
.msg_notRead td:first-child {
	/* background: #eb8d8d; */
	background: linear-gradient(to right, #eb8d8d, RGBA(255, 255, 255, 0));
}
.msg_booked td:first-child {
	background: linear-gradient(to right, #99a, RGBA(255, 255, 255, 0));
}
/* .msg_booked {
	background: #99a;
} */
#messList a {
	color: #0000cd;
}
#msg_table {
	width: 90%;
	max-width: 500px;
}
#msg_info {
	max-width: 200px;
	min-height: 150px;
}
#write_div {
	width: 80%;
	margin: auto;
}
#write_div p {
	margin: 0;
	margin-bottom: 5px;
}
#write_div input[type="text"],
#write_div textarea {
	width: 100%;
}
#write_div textarea {
	height: 300px;
}
#preview_div {
	padding-bottom: 5px;
}
